<div class="hero"></div>
<div class="run-list">
  <h2><em>Past Runs</em></h2>
  <div class="run-sidebar" ui-view></div>
  <div class="wrap">
    <a ui-sref="past.run({id: run.$id})" ng-repeat="run in pastRuns | orderBy:'dateTime':true">
      <div class="run-condensed" >
        <span>{{run.dateTime | date:'MM/dd/yyyy'}}</span>
        <span>{{run.dateTime | date:'h:mma'}}</span>
        <span>{{run.location.name}}</span>
        <span> --> Created by {{run.createdBy}}</span>
      </div>
    </a>
  </div>
</div>