<div class="run">
  <pre>{{ run }}</pre>
  <div class="run-header">
    <div class="date-container">
      <div class="date">
        <h4>{{run.dateTime | date:'EEE'}}</h4>
        <h6>{{run.dateTime | date:'MMM'}} </h6>
        <h3>{{run.dateTime | date:'d'}} </h3>
      </div>
      <div class="time">{{ run.dateTime | date:'h:mma' }}</div>
    </div>
    <div class="run-header-content-right">
      <div class="location-name">{{ run.location.name }}</div>
      <div class="created-by">- {{ run.createdBy }}</div>
      <div class="description" ng-init="run.description.collapsed = true;" ng-class="{ 'description-collapsed': run.description.collapsed }">{{ run.note }} </div>
      <div class="toggle-more" title="Show More" ng-click="run.description.collapsed = !run.description.collapsed">• • •</div>
    </div>
  </div>
  <google-map location="run.location"></google-map>
  <div class="details align-left">
    <div class="attendance">
      <div class="confirmed">
        <i class="fa fa-check-circle"></i> 4 Confirmed
      </div>
      <div class="tentative">
        <i class="fa fa-question-circle"></i> 2 Tentative
      </div>
    </div>
    <div class="comments">
      <input type="text" placeholder="Comment...">
      <ul>
        <li><i class="fa fa-user"></i> This is awesome!</li>
        <li><i class="fa fa-user"></i> You're right
          <ul>
            <li><i class="fa fa-user"></i> I also agree</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>