<a class="right-nav" ui-sref="past">« Past Runs</a>
<h2><em>Upcoming Runs</em></h2>
<div class="wrap">
  <div class="run-condensed" ng-init="run.expanded = false" ng-repeat="run in upcomingRuns | orderBy:'dateTime':true">
    <div ng-click="run.expanded = !run.expanded">
      <span> {{ run.dateTime | date:'MM/dd/yyyy' }} </span>
      <span>{{ run.dateTime | date:'h:mma' }}</span>
      <span>{{ run.location.name }}</span>
    </div>
    <div ng-include="'views/run.fragment.html'" ng-show="run.expanded"></div>
  </div>
</div>